/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(135deg, #0386be, #0386be);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 7px;
    transition: background 0.3s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    transform: scale(1.1);
    background: rgba(223, 223, 223, 0.3);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
